<footer class="page-footer footer-colors">
  <div class="container">
    <div class="row vertical-align">
      <div class="col l6 s12">
        <h5>Mr. Cocktail v2</h5>
        <p class="lighten-font">
          Mr. Cocktail v2 is a rethinking of a project originally created as an assignment at Le Wagon Montréal: a 9 week, full-time web dev bootcamp.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li class="footer-icons"><i class="icon-ruby-on-rails rails-color tooltipped" data-position="top" data-delay="50" data-tooltip="Ruby on Rails"></i></li>
          <li class="footer-icons"><i class="icon-html5-alt html5-color tooltipped" data-position="top" data-delay="50" data-tooltip="HTML5"></i></li>
          <li class="footer-icons"><i class="icon-postgres postgres-color tooltipped" data-position="top" data-delay="50" data-tooltip="PostgreSQL"></i></li>
          <li class="footer-icons sass-padding-fix"><i class="icon-sass sass-color tooltipped" data-position="top" data-tooltip="Sass"></i></li>
          <li class="footer-icons"><i class="icon-heroku heroku-color tooltipped" data-position="top" data-tooltip="Heroku"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright footer-copyright-color">
    <div class="container link-color-fix">
      © 2017 Dana Alibrandi
      <a href="http://www.linkedin.com/in/dalibran">  <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      <a class="right" href="https://github.com/dalibran/mr-ms-cocktail-v2"><i class="fa fa-github"></i>  View the Repo</a>
    </div>
  </div>
</footer>


