<!-- positions Mr. Cocktail logo at top of screen -->
<div class="container">
  <div class="row">
    <div class="col s12 center-position-logo-col">
      <%= link_to root_path do %>
        <div class="main-logo">
            <%= image_tag 'bartender-male.svg', height: 55 , width: 55 %>
            <p>Mr.Cocktail</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
