<div class="main-border justify-content">
  <div class="row-wrapper">
    <div class="row">
      <div class="col s12 l12 justify-content">
        <%= image_tag 'bartender-male.svg', height: 200 , width: 200 %>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l12 justify-content">
        <h3>Pace Yourself</h3>
      </div>
      <div class="col s12 l12 justify-content">
        <p>
          Mr. Cocktail is still in development but will be here soon.
          In the meantime, stay thirsty.
        </p>
      </div>
    </div>
  </div>
</div>
