/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Center-Align Content
.justify-content {
  display: flex;
  justify-content: center;
}

// Set page requirements for sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 100vh;
}

// Lightens font when needed
.lighten-font {
  font-weight: lighter;
  & a {
    color: inherit;
    font-weight: bolder;
  }
}

// Vertically align grid row
.vertical-align {
  display: flex;
  align-items: center;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
